<div class="p-5 w-100 h-100">
  <h2 class="font-weight-bold text-center mb-4">Password</h2>
  <div class="d-flex flex-column justify-content-center w-100 h-100">
    <form [formGroup]="passwordForm">
      <mat-form-field class="py-1 w-100">
        <mat-label>Old password</mat-label>
        <input type="password" matInput placeholder="Enter old password" name="oldPassword" formControlName="oldPassword">
      </mat-form-field>

      <mat-form-field class="py-1 w-100">
        <mat-label>New password</mat-label>
        <input type="password" matInput placeholder="Enter new password" name="newPassword" formControlName="newPassword">
      </mat-form-field>

      <mat-form-field class="py-1 w-100">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Confirm new password" name="confirmPassword" formControlName="confirmPassword">
      </mat-form-field>
    </form>
  </div>
</div>
