<mat-card class="card-bg p-4 w-100 h-100">
  <div class="d-flex flex-column w-100">
    <h2 class="font-weight-bold text-center mb-4">Personal Info</h2>
    <form class="d-block" [formGroup]="accountInfoForm">
      <div class="w-100 text-center mb-3">
        <input type="text" formControlName="profilePicture">
      </div>

      <mat-form-field class="my-1 w-100">
        <mat-label>Firstname</mat-label>
        <input type="text" matInput placeholder="Enter your firstname" name="name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-label>Surname</mat-label>
        <input type="text" matInput placeholder="Enter your surname" name="surname" formControlName="surname">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-label>Phone</mat-label>
        <input type="text" matInput placeholder="Enter your phone number" name="phone" formControlName="telephoneNumber">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-label>Address</mat-label>
        <input type="text" matInput placeholder="Enter your address" name="address" formControlName="address">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter your email" name="email" formControlName="email">
      </mat-form-field>

      <div class="d-flex justify-content-evenly mt-2">
        <button mat-button class="w-50" (click)="enableEdit()" style="background-color: #8f6700" *ngIf="!editEnabled">
          <mat-icon>edit</mat-icon>Edit info
        </button>

        <button mat-button class="w-25" (click)="cancelEdit()" style="background-color: #790000" *ngIf="editEnabled">
          <mat-icon>cancel</mat-icon>Cancel
        </button>

        <button mat-button class="w-25" (click)="submitEdit()" style="background-color: #006400" *ngIf="editEnabled">
          <mat-icon>check</mat-icon>Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>
