<mat-card class="card-bg p-3 p-md-4 p-lg-5 w-100 h-100">
  <div class="d-flex flex-column w-100">
    <h2 class="font-weight-bold text-center mb-4">Personal Info</h2>
    <form class="d-block" [formGroup]="accountInfoForm">
      <div class="w-100 text-center mb-3 d-flex flex-column just">
        <img src="{{accountInfoForm.controls['profilePicture'].value}}" class="rounded-circle m-auto mb-2" width="150" height="150" (error)="onProfilePictureError($event)">
        <div class="justify-content-center">
          <mat-form-field class="my-1 w-75">
            <mat-label>Profile picture</mat-label>
            <input type="text" matInput placeholder="Enter picture url" name="profilePicture" formControlName="profilePicture">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-label>Firstname</mat-label>
        <input type="text" matInput placeholder="Enter your firstname" name="name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-label>Surname</mat-label>
        <input type="text" matInput placeholder="Enter your surname" name="surname" formControlName="surname">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>phone</mat-icon>
        <mat-label>Phone</mat-label>
        <input type="text" matInput placeholder="Enter your phone number" name="phone" formControlName="telephoneNumber">
        <mat-error *ngIf="accountInfoForm.controls['telephoneNumber'].hasError('pattern')">
          Not a valid phone number
        </mat-error>
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>home</mat-icon>
        <mat-label>Address</mat-label>
        <input type="text" matInput placeholder="Enter your address" name="address" formControlName="address">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter your email" name="email" formControlName="email">
        <mat-error *ngIf="accountInfoForm.controls['email'].hasError('email')">
          Not a valid email address
        </mat-error>
      </mat-form-field>

      <div class="d-flex justify-content-evenly mt-2">
        <button mat-button class="w-50" (click)="enableEdit()" style="background-color: #8f6700" *ngIf="!editEnabled">
          <mat-icon>edit</mat-icon>Edit info
        </button>

        <button mat-button class="w-100 me-3" (click)="cancelEdit()" style="background-color: #790000" *ngIf="editEnabled">
          <mat-icon>cancel</mat-icon>Cancel
        </button>

        <button [disabled]="!accountInfoForm.valid" mat-button class="w-100 ms-3" (click)="submitEdit()" style="background-color: #006400" *ngIf="editEnabled">
          <mat-icon>check</mat-icon>Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>
