.cards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.panic-card {
  width: 45%;
  min-width: 350px;
  height: auto;
  margin: 15px;
}
