<div class="container-xxl pt-lg-4 pt-3">
  <div class="cards-wrapper">
    <app-panic-card class="panic-card" *ngFor="let panic of dataSourceObservable | async"
                    [panic]="panic" [notification]="false">
    </app-panic-card>
  </div>
</div>

<mat-paginator #panicsPaginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page"
               class="" style="background-color: transparent;">
</mat-paginator>
