<div class="d-flex w-100 h-100" style="background-color: transparent;">
  <div class="container w-100 h-100 mx-0 d-flex justify-content-center px-0" >
    <div class="w-100 row row-cols-md-2 me-0" style=" overflow: auto;">
      <div class="col-md-6 h-inherit ps-0">
        <app-history-detailed-ride-card [ride]="ride"></app-history-detailed-ride-card>
      </div>
      <div class="col-md-6 h-inherit d-flex flex-column overflow-hidden pe-0">
        <app-history-map-card class="h-50"></app-history-map-card>

        <app-history-review-card-passenger *ngIf="userType=='PASSENGER'" class="mt-auto" style="height: 48%; width:100%;"></app-history-review-card-passenger>
        <app-history-review-card-driver *ngIf="userType=='DRIVER' || userType=='ADMIN' " class="mt-auto" style="height: 48%; width:100%;"></app-history-review-card-driver>

      </div>
    </div>
  </div>
</div>
