<div>
  <h1 class="w-100">Where can we pick you up?</h1>
  <form class="vstack" [formGroup]="destinationForm">
    <div class="mt-4 row">
      <mat-form-field class="col pe-0" (focusin)="changeFieldFocus('from')">
        <input matInput type="text" (keydown)="enterSubmit($event)"  placeholder="Add pickup location" formControlName="from" [ngModel]="destinationForm.value.from"/>
        <button *ngIf="destinationForm.value.from" (click)="destinationForm.value.from=''" type="button" matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button (click)="enableManualFromAddressSelection()" mat-icon-button class="col-auto noPadMar">
        <mat-icon>location_on</mat-icon>
      </button>
    </div>
    <div class="mt-4 row">
      <mat-form-field class="col pe-0" (focusin)="changeFieldFocus('to')">
        <input matInput type="text" (keydown)="enterSubmit($event)" placeholder="Enter destination" formControlName="to" [ngModel]="destinationForm.value.to"/>
        <button *ngIf="destinationForm.value.to" (click)="destinationForm.value.to=''" type="button" matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button (click)="enableManualToAddressSelection()" mat-icon-button class="col-auto noPadMar">
        <mat-icon>location_on</mat-icon>
      </button>
    </div>
    <div class="mt-4 mb-4 w-100">
      <ul class="noPadMar">
        <li *ngFor="let address of recommendedAddresses">
          <app-recommended-location [address]="address" (isClickedEvent)="onAddressSelected($event)"></app-recommended-location>
        </li>
      </ul>
    </div>
    <button (click)="nextFormPage()" [disabled]="!destinationForm.valid || !this.selectedFromAddress || !this.selectedToAddress" mat-flat-button color="accent">Continue</button>
  </form>
</div>
