<div class="w-100 mb-5">
<h1 class="text-center my-4">Your Ride History</h1>
<div class="w-100 d-flex justify-content-center my-3">
  <app-history-simplified-card class="w-75 "></app-history-simplified-card>
</div>
  <div class="w-100 d-flex justify-content-center my-3">
    <app-history-simplified-card class="w-75 "></app-history-simplified-card>
  </div>
  <div class="w-100 d-flex justify-content-center my-3">
    <app-history-simplified-card class="w-75 "></app-history-simplified-card>
  </div>
</div>
