<div class="d-flex pt-5 w-100 h-100 justify-content-center" style="height: auto;">
  <div class="d-flex flex-column w-75 my-auto">
    <h2 class="font-weight-bold text-center mb-4">Reset Password</h2>
    <form class="d-block text-center" [formGroup]="passwordForm">

      <mat-form-field class="row mx-auto my-2 w-100">
        <mat-label>New password</mat-label>
        <input type="password" matInput placeholder="Enter new password" name="newPassword" formControlName="newPassword">
        <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('minLength')">
          Password must be at least 6 characters long
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('maxLength')">
          Password can not be longer than 20 characters
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('whitespace')">
          Password can not contain whitespace characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="row mx-auto my-2 w-100">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Confirm new password" name="confirmPassword" formControlName="confirmPassword">
        <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('passwordsNotMatching')">
          Passwords are not matching
        </mat-error>
      </mat-form-field>

      <p class="errorMessage mt-2 mb-2 text-center" *ngIf="this.errorMessage != ''">{{errorMessage}}</p>

      <div class="d-flex justify-content-evenly mt-2">
        <button mat-button class="w-25" (click)="submitEdit()" style="background-color: #fad02c; color: black;">
          Save
        </button>
      </div>
    </form>
  </div>

</div>
