<div class="w-100 d-flex align-items-center">

<mat-form-field class="" appearance="outline" style="width: 30%;">
  <input matInput [matDatepicker]="startAtPicker">
  <mat-datepicker-toggle matSuffix [for]="startAtPicker"></mat-datepicker-toggle>
  <mat-datepicker #startAtPicker startView="year"></mat-datepicker>
</mat-form-field>
<mat-form-field class="ms-2" appearance="outline" style="width: 30%;">
  <input matInput [matDatepicker]="releasedAtPicker" >
  <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
  <mat-datepicker #releasedAtPicker startView="year"></mat-datepicker>
</mat-form-field>
  <mat-form-field class="ms-2" appearance="outline">
    <mat-label>Sort criterium</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="date">Date</mat-option>
      <mat-option value="price">Price</mat-option>
    </mat-select>
  </mat-form-field>
</div>
