<div class="h-100 card-bg px-4 pb-4">
  <div mat-dialog-title>
    <h2 class="font-weight-bold text-center">Note for {{user.name}} {{user.surname}} (ID: {{user.id}})</h2>
  </div>
  <div mat-dialog-content class="p-2">
    <mat-form-field class="py-2 w-100">
      <mat-label>Enter note: </mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                maxlength="255"
                [cdkAutosizeMinRows]="6"
                [cdkAutosizeMaxRows]="6"
                [(ngModel)]="note"
                style="font-size: 20px"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="w-100 d-inline-flex justify-content-center">
    <button  mat-dialog-close="" mat-flat-button color="accent"
             (click)="createNote()" [disabled]="note==''">Leave note</button>
    <button mat-dialog-close="" mat-flat-button color="warn" >Dismiss</button>
  </div>
</div>
