
<div class="container-fluid">
  <div class="w-100 row row-cols-md p-5">
    <div class="col-md-4 h-inherit">
      <app-account-info [userId]="userId" [role]="role"></app-account-info>
    </div>
    <div class="col-md-4 h-inherit d-flex flex-column">
      <app-password [userId]="userId"></app-password>
      <app-documents [userId]="userId" class="mt-3"></app-documents>
    </div>
    <div class="col-md-4 h-inherit">
      <app-vehicle-details [userId]="userId">></app-vehicle-details>
    </div>
  </div>
</div>
