.map-frame {
  height: 100%;
}

#map-driver {
  height: 100%;
}
.to-front{
  z-index: 999;
}

#btnOnline.mat-button-toggle-checked{
  background-color: #32a852;
}
#btnOffline.mat-button-toggle-checked{
  background-color: #E04141;
}
