<div class="p-5 w-100 h-100">
  <div class="d-flex justify-content-center">
    <h2 class="font-weight-bold">Documents</h2>
    <mat-icon class="my-auto ms-3">edit</mat-icon>
  </div>
  <div class="mt-3 d-flex flex-column justify-content-center w-100 h-100">
    <form [formGroup]="documentsForm">
      <mat-form-field class="py-1 w-100">
        <mat-label>Driver licence</mat-label>
        <input type="password" matInput placeholder="Enter driver licence" name="driverLicence" formControlName="driverLicence">
      </mat-form-field>

      <mat-form-field class="py-1 w-100">
        <mat-label>Vehicle identification</mat-label>
        <input type="password" matInput placeholder="Enter driver identification" name="vehicleIdentification" formControlName="vehicleIdentification">
      </mat-form-field>
    </form>
  </div>
</div>
