
<div style="background-color: #1d1f2f">
  <div class="container">
    <div class="h-100 w-100 row row-cols-md-2 p-5">
      <div class="col-md-6 h-100">
        <div class="card-background-color rounded-25 h-100 w-100">
          <app-account-info></app-account-info>
        </div>
      </div>
      <div class="col-md-6 h-100 ">
        <div class="card-background-color h-100 w-100 rounded-25">
          <app-password></app-password>
        </div>
        <div class="card-background-color h-100 w-100 rounded-25">
          <app-documents></app-documents>
        </div>
      </div>
    </div>
  </div>
</div>
