.footer{
  bottom:0px;
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10000000;
  padding: 0;
}
app-live-chat{
  z-index: 1000000000000000000000;
}

.main{
  width:100%;
  min-height: 94vh;
  margin-top: 6vh;
  background-color: #1d1f2f;
}

