
<div style="background-color: #1d1f2f">
  <div class="container">
    <div class="w-100 h-100 d-flex flex-row justify-content-center p-5">
      <div class="mx-4 h-100 w-100  rounded-25" style="background-color: #26272b">
        <app-account-info></app-account-info>
      </div>
      <div class="mx-4 h-100 w-100">
        <div class="m-auto h-100 w-100  rounded-25 mb-4" style="background-color: #26272b">
          <app-password></app-password>
        </div>

        <div class="m-auto h-100 w-100  rounded-25 mt-4" style="background-color: #26272b">
          <app-documents></app-documents>
        </div>
      </div>
    </div>
  </div>
</div>
