
<div style="background-color: #1d1f2f">
  <div class="container">
    <div class="h-100  d-flex flex-row justify-content-center p-5">
      <div class="card-background-color mx-4 h-100 w-100  rounded-25">
        <app-account-info></app-account-info>
      </div>
      <div class="mx-4 h-100 ">
        <div class="card-background-color m-auto h-100 w-100  rounded-25 mb-4">
          <app-password></app-password>
        </div>

        <div class="card-background-color m-auto h-100 w-100  rounded-25 mt-4">
          <app-documents></app-documents>
        </div>
      </div>
    </div>
  </div>
</div>
