<mat-card class="w-100 h-100" style="border-radius:25px; background-color: #26272b">
  <div class="d-flex justify-content-between m-3">
    <div class="d-flex align-items-center">
      <img  src="assets/img/map.png" class=" profile-pic rounded-circle" alt="Profile Picture" width="40px" height="40px" style="outline: 4px solid  #fad02c;">
      <h5 class="mb-0 mx-2">{{passengerName}}</h5>
    </div>
    <div id="other-passengers-container" class="d-inline-flex w-50 align-content-center align-items-center justify-content-center">
      <p class="pe-2"style="margin-bottom:0;">+{{numOfPassengers}}</p>
      <img  src="assets/img/map.png" class=" profile-pic rounded-circle" alt="Profile Picture" width="30px" height="30px" style="outline: 2px solid  #fad02c;">
      <img  src="assets/img/map.png" class=" profile-pic rounded-circle" alt="Profile Picture" width="30px" height="30px" style="outline: 2px solid  #fad02c;">
    </div>
  </div>
  <div class="map-frame">
    <img src="assets/img/map.png" style="width: 100%;height: 200px;">
  </div>
  <div id="title-container" class="text-center pt-2">
    <h2>Ride request</h2>
  </div>
  <div id="path-conatiner" class="w-75 ms-2">
    <div class="row h-50">
      <div class="d-flex h-100 justify-content-start align-items-center py-2 ">
        <mat-icon aria-hidden="false">location_on</mat-icon>
        <p class="m-0 p-1">{{startLocation}}</p>
      </div>
    </div>
    <div class="row h-50">
      <div class="d-flex h-100 justify-content-start align-items-center ">
        <mat-icon aria-hidden="false">location_on</mat-icon>
        <p class="m-0 p-1">{{endLocation}}</p>
      </div>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center my-2">
  <div id="button-container"class="w-75 d-flex  justify-content-center">
    <button mat-flat-button class="mx-2 rounded-pill fw-bold float-end" style="background-color: #26272b; border: 2px solid #fad02c">Cancel</button>
    <button mat-flat-button class="mx-2 rounded-pill fw-bold float-end" color="accent" style="border: 2px solid #fad02c;">Accept</button>
  </div>
  </div>
</mat-card>

