<div>
  <h1 class="w-100">Choose a ride.</h1>
  <p>Estimated time: {{estMinutes}} minutes</p>
  <p>Ride distance: {{rideLength}}km</p>
  <div class="vstack mt-4">
    <div class="d-flex justify-content-between">
      <p class="align-self-center">Include pets</p>
      <mat-checkbox (change)="includePets = !includePets" [checked]="includePets" labelPosition="before"></mat-checkbox>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-center">Include babies</p>
      <mat-checkbox (change)="includeBabies = !includeBabies" [checked]="includeBabies" labelPosition="before"></mat-checkbox>
    </div>
    <div class="mt-4">
      <ul>
        <li *ngFor="let vehicleType of vehicleTypes; let i = index">
          <app-vehicle-type-card [distanceChangedEvent]="distanceChangedEvent" [selectionChangedEvent]="changeCarTypeEvent.asObservable()" [index]="i" [vehicleType]="vehicleType" (click)="changeVehicleType(i)"></app-vehicle-type-card>
        </li>
      </ul>
    </div>
    <div class="row ps-3 pe-3 mt-4">
      <button mat-flat-button color="accent" class="col-1 me-2" (click)="previousFormPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-flat-button color="accent" class="col" [disabled]="!selectedVehicleType" (click)="nextFormPage()">Continue</button>
    </div>
  </div>

</div>
