<div class="p-3">
  <h2 class="font-weight-bold text-center mt-2">Login</h2>
  <form mat-dialog-content [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="d-flex flex-column justify-content-center w-100">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Example@example.com" [(ngModel)]="emailValue" name="email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter your password" [(ngModel)]="passwordValue" name="password" formControlName="password">
    </mat-form-field>
    <a href="" class="pb-3 font-weight-bold text-decoration-none text-center">Forgot password?</a>

    <div class="text-center mb-2 mt-3">
      <button class="w-50" type="submit" mat-flat-button color="accent" [disabled]="!passwordValue || !emailValue">Login</button>
    </div>
    <div class="d-flex justify-content-center">
      <p>Don't have an account?&nbsp;</p>
      <a href="" class="font-weight-bold text-decoration-none">Register now</a>
    </div>

    <mat-error *ngIf="hasError">Korisničko ime ili lozinka nisu ispravni.</mat-error>
  </form>
</div>
