<mat-card class="card-bg p-3 p-md-4 p-lg-5 w-100 h-100">
  <div class="d-flex flex-column w-100 my-auto">
    <h2 class="font-weight-bold text-center mb-4">Vehicle details</h2>
    <form class="d-block" [formGroup]="vehicleDetailsForm">
      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix> directions_car</mat-icon>
        <mat-label>Model name</mat-label>
        <input type="text" matInput placeholder="Enter vehicle model name" name="model" formControlName="model">
      </mat-form-field>

      <mat-label class="me-2">Type:</mat-label>
      <mat-button-toggle-group name="vehicleType" aria-label="Vehicle Type" formControlName="vehicleType">
        <mat-button-toggle value="STANDARD" [checked]="true">Standard</mat-button-toggle>
        <mat-button-toggle value="LUX">Luxury</mat-button-toggle>
        <mat-button-toggle value="VAN">Van</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field class="mt-4 w-100">
        <mat-icon matPrefix> format_list_numbered</mat-icon>
        <mat-label>Vehicle licence plate</mat-label>
        <input type="text" matInput placeholder="Enter vehicle licence plate" name="licenseNumber"
               formControlName="licenseNumber">
        <mat-error *ngIf="vehicleDetailsForm.controls['licenseNumber'].hasError('pattern')">
          Not a valid phone license plate
        </mat-error>
      </mat-form-field>

      <mat-checkbox class="w-100 my-2" formControlName="babyTransport">
      <div class="d-inline-flex w-100">
        <mat-icon class="align-self-center me-1">child_friendly</mat-icon>
        <div class="align-self-center">Include babies</div>
      </div>
      </mat-checkbox>

      <mat-checkbox class="w-100 my-2" formControlName="petTransport">
        <div class="d-inline-flex w-100">
          <mat-icon class="align-self-center me-1">pets</mat-icon>
          <div class="align-self-center">Include pats</div>
        </div>
      </mat-checkbox>

      <div class="my-3 mx-4">
        <div class="d-inline-flex">
          <mat-icon class="align-self-center">airline_seat_recline_normal</mat-icon>
          <mat-label>Number of passenger seats:</mat-label>
        </div>
        <mat-slider class="w-100 mx-auto" min="1" max="8" step="1" showTickMarks discrete>
          <input matSliderThumb name="passengerSeats" formControlName="passengerSeats">
        </mat-slider>
      </div>

      <div class="d-flex justify-content-evenly mt-2">
        <button mat-button class="w-50" (click)="enableEdit()" style="background-color: #8f6700" *ngIf="!editEnabled">
          <mat-icon>edit</mat-icon>Edit info
        </button>

        <button mat-button class="w-100 me-3" (click)="cancelEdit()" style="background-color: #790000" *ngIf="editEnabled">
          <mat-icon>cancel</mat-icon>Cancel
        </button>

        <button [disabled]="!vehicleDetailsForm.valid" mat-button class="w-100 ms-3" (click)="submitEdit()" style="background-color: #006400" *ngIf="editEnabled">
          <mat-icon>check</mat-icon>Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>
