<mat-card class="card p-4 w-100 h-100">
  <div class="d-flex flex-column w-100">
    <h2 class="font-weight-bold text-center mb-4">Password</h2>
    <form [formGroup]="passwordForm">
      <mat-form-field class="my-1 w-100">
        <mat-label>Old password</mat-label>
        <input type="password" matInput placeholder="Enter old password" name="oldPassword" formControlName="oldPassword">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-label>New password</mat-label>
        <input type="password" matInput placeholder="Enter new password" name="newPassword" formControlName="newPassword">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Confirm new password" name="confirmPassword" formControlName="confirmPassword">
      </mat-form-field>

      <div class="d-flex justify-content-evenly mt-2">
        <button mat-button class="w-50" (click)="enableEdit()" style="background-color: #8f6700" *ngIf="!editEnabled">
          <mat-icon>edit</mat-icon>Edit info
        </button>

        <button mat-button class="w-25" (click)="cancelEdit()" style="background-color: #790000" *ngIf="editEnabled">
          <mat-icon>cancel</mat-icon>Cancel
        </button>

        <button mat-button class="w-25" (click)="submitEdit()" style="background-color: #006400" *ngIf="editEnabled">
          <mat-icon>check</mat-icon>Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>
