<mat-card class="card-bg p-3 p-md-4 p-lg-5 w-100 h-100">
  <div class="d-flex flex-column w-100 my-auto">
    <h2 class="font-weight-bold text-center mb-4">Password</h2>
    <form [formGroup]="passwordForm">
      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>fingerprint</mat-icon>
        <mat-label>Current password</mat-label>
        <input type="password" matInput placeholder="Enter current password" name="currentPassword" formControlName="currentPassword">
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>fingerprint</mat-icon>
        <mat-label>New password</mat-label>
        <input type="password" matInput placeholder="Enter new password" name="newPassword" formControlName="newPassword">
        <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('minLength')">
          Password must be at least 6 characters long
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('maxLength')">
          Password can not be longer than 20 characters
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('whitespace')">
          Password can not contain whitespace characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="my-1 w-100">
        <mat-icon matPrefix>fingerprint</mat-icon>
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="Confirm new password" name="confirmPassword" formControlName="confirmPassword">
        <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('passwordsNotMatching')">
          Passwords are not matching
        </mat-error>
      </mat-form-field>

      <p class="errorMessage mt-2 mb-2 text-center" *ngIf="this.errorMessage != ''">{{errorMessage}}</p>

      <div class="d-flex justify-content-evenly mt-2">
        <button mat-button class="w-50" (click)="enableEdit()" style="background-color: #8f6700" *ngIf="!editEnabled">
          <mat-icon>edit</mat-icon>Edit info
        </button>

        <button mat-button class="w-100 me-3" (click)="cancelEdit()" style="background-color: #790000" *ngIf="editEnabled">
          <mat-icon>cancel</mat-icon>Cancel
        </button>

        <button [disabled]="!passwordForm.valid" mat-button class="w-100 ms-3" (click)="submitEdit()" style="background-color: #006400" *ngIf="editEnabled">
          <mat-icon>check</mat-icon>Submit
        </button>
      </div>
    </form>
  </div>
</mat-card>
