<mat-toolbar >


  <nav class="w-100 h-100 mx-2 row" >
  <div id="logo-container" class="col">
    <a class="navbar-brand h-100" href="#">
      <img id="navbar-logo-img" src="../../../assets/img/LogoLetters.png" class="img-responsive" alt="">
    </a>
  </div>
  <div class="col">
  <div class="navbar-collapse d-inline-block h-100" *ngIf="userType==='UNREGISTERED'">
    <ul class="navbar-nav d-inline-block" >
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
</div>
  <div class="navbar-collapse d-inline-block h-100" *ngIf="userType==='DRIVER'">
    <ul class="navbar-nav d-inline-block" >
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse d-inline-block h-100" *ngIf="userType==='PASSENGER'">
    <ul class="navbar-nav d-inline-block" >
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favorite">Favorite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse d-inline-block h-100" *ngIf="userType==='ADMIN'">
    <ul class="navbar-nav d-inline-block" >
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Driver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Block User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Accounts</a>
      </li>
    </ul>
  </div>

</div>
<div id="button-container" class="col">
<div id="buttons-div" class="d-flex ms-auto" *ngIf="userType==='UNREGISTERED'" >
  <button mat-flat-button (click)="openLoginDialog()" class="mx-2 rounded-pill fw-bold" color="accent">SIGN IN</button>
  <button mat-flat-button (click)="openRegisterDialog()" class="accent-button mx-2 rounded-pill fw-bold" color="accent" >SIGN UP</button>
</div>

<div id="logout-button-div" class="d-flex ms-auto" *ngIf="userType!='UNREGISTERED'" >
  <a href="" class="text-decoration-none logout-button" (click)="logOut()"><mat-icon>logout</mat-icon></a>
</div>

</div>
</nav>
</mat-toolbar>
