<div id="contentDiv" class="pb-lg-5 pt-lg-5 ps-lg-4 pe-lg-4">
  <app-ride-pick-destination *ngIf="formPageIndex < 4" [ngClass]="{hidden:formPageIndex!=0}" (changeFormPageEmitter)="switchFormPage($event)"  [routeChangedEvent]="routeChangedEvent"></app-ride-pick-destination>
  <app-ride-pick-properties *ngIf="formPageIndex < 4" [ngClass]="{hidden:formPageIndex!=1}" (changeFormPageEmitter)="switchFormPage($event)" [ridePropertiesChangedEvent]="ridePropertiesChangedEvent"></app-ride-pick-properties>
  <app-ride-add-passengers *ngIf="formPageIndex < 4" [ngClass]="{hidden:formPageIndex!=2}" (changeFormPageEmitter)="switchFormPage($event)" [passengersChangedEvent]="passengersChangedEvent"></app-ride-add-passengers>
  <app-ride-pick-time *ngIf="formPageIndex < 4" [ngClass]="{hidden:formPageIndex!=3}" (changeFormPageEmitter)="switchFormPage($event)" (rideDateTimeChangedEvent)="rideDateTime = $event" (callFavorite)="addToFavorite()"></app-ride-pick-time>
  <app-searching-driver-screen [rideFoundEvent]="rideFoundEvent.asObservable()" (goToFirstPageEvent)="returnToFirstPage()" [errorMessageEvent]="errorMessageEvent.asObservable()"  *ngIf="searchingDriver && isDataReady && formPageIndex > 3"></app-searching-driver-screen>
</div>
