<div class="vstack">
  <h1 class="mb-4">When do you want to leave?</h1>
  <mat-form-field class="w-100" appearance="outline">
    <input matInput readonly [matDatepicker]="datePicker" [ngModel]="selectedDate" (ngModelChange)="selectedDateChanged($event)" [min]="currentDateTime">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker startView="year"></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <input matInput readonly [ngModel]="selectedTime" [min]="dateToString(minTime)" [ngxMatTimepicker]="timePicker" [format]="24" [disableClick]="true">
    <button matSuffix mat-icon-button (click)="timePicker.open()">
      <mat-icon>access_time</mat-icon>
    </button>
    <ngx-mat-timepicker #timePicker (timeSet)="selectedTimeChanged($event)" ></ngx-mat-timepicker>
  </mat-form-field>
    <a id="addFavoriteLink" class="text-end text-decoration-none" style="color:#fad02c;" (click)="clickFavorite()">Add to favorite</a>
  <div class="row ps-3 pe-3 mt-4">
    <button mat-flat-button color="accent" class="col-1 me-2" (click)="previousFormPage()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-flat-button color="accent" class="col" [disabled]="!selectedDate || !selectedTime" (click)="nextFormPage()">Confirm</button>
  </div>
</div>
