<button  class="chatbox-open" (click)="open()">
  <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <mat-icon>{{openIcon}}</mat-icon>
  </div>
</button>
<section *ngIf="chatboxPopup" [style.opacity]="popupOpacity" class="chatbox-popup" style="display: block; position:fixed; height: 400px;">
  <header class="chatbox-popup__header">
    <aside style="display:flex;flex:3;">
      <i class="fa fa-user-circle fa-4x chatbox-popup__avatar"  style="overflow: hidden;" aria-hidden="true">
        <img src="assets/img/map.png" width="64" height="64" alt="">
      </i>
    </aside>
    <aside style="display:flex;flex:8;">
      <h1 style="font-size: 1.5rem">Marko Markovic</h1>
    </aside>
  </header>
  <main class="chatbox-popup__main" style="overflow: auto">
    <div style="height: 200px;"class="p-0">
      <ul class="messages">
        <li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
        <li class="other">Are we dogs??? 🐶</li>
        <li class="self">no... we're human</li>
        <li class="other">are you sure???</li>
        <li class="self">yes.... -___-</li>
        <li class="other">if we're not dogs.... we might be monkeys 🐵</li>
        <li class="self">i hate you</li>
        <li class="other">don't be so negative! here's a banana 🍌</li>
        <li class="self">......... -___-</li>
      </ul>
    </div>

  </main>
  <footer class="chatbox-popup__footer">
    <aside style="flex:11">
      <textarea type="text" placeholder="Type your message here..." autofocus></textarea>
    </aside>
    <aside style="flex:1;color:#888;text-align:center;">
      <mat-icon>send</mat-icon>
    </aside>
  </footer>
</section>
<section class="chatbox-panel">
  <header class="chatbox-panel__header">
    <aside style="flex:3">
      <i class="fa fa-user-circle fa-3x chatbox-popup__avatar" aria-hidden="true"></i>
    </aside>
    <aside style="flex:6">
      <h1>Sussanah Austin</h1> Agent (Online)
    </aside>
    <aside style="flex:3;text-align:right;">
      <button class="chatbox-minimize"><i class="fa fa-window-restore" aria-hidden="true"></i></button>
      <button class="chatbox-panel-close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </aside>
  </header>
  <main class="chatbox-panel__main" style="flex:1">
    We make it simple and seamless for<br> bussiness and people to talk to each<br> other. Ask us anything.
  </main>
  <footer class="chatbox-panel__footer">
    <aside style="flex:1;color:#888;text-align:center;">
      <i class="fa fa-camera" aria-hidden="true"></i>
    </aside>
    <aside style="flex:10">
      <textarea type="text" placeholder="Type your message here..." autofocus></textarea>
    </aside>
    <aside style="flex:1;color:#888;text-align:center;">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </aside>
  </footer>
</section>
