mat-error{
  white-space: nowrap;
  overflow: hidden;
  margin-left: -15px;
}
.errorMessage{
  color: #f44336
}
.clickable{
  cursor: pointer;
}
img{
  max-width: 100%;
}

::ng-deep .card-bg{
  background-color: #26272b;
  overflow-x:auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #26272b inset;
  -webkit-text-fill-color: white;
}
