<div class="p-3 w-100 card-bg">
    <div *ngIf="!isFinished">
      <h2 class="font-weight-bold d-flex justify-content-center">Sign Up</h2>
      <div mat-dialog-content class="flex-column justify-content-center">
        <form class="w-100" (ngSubmit)="onSubmit()" [formGroup] = "registrationForm">
          <div class="row">
            <mat-form-field class="mb-2">
              <mat-icon matPrefix>email</mat-icon>
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Example@example.com" formControlName="email" name="email">
              <mat-error *ngIf="registrationForm.controls.email.hasError('email')">
                Not a valid email address
              </mat-error>
            </mat-form-field>
            <div class="mb-2">
              <mat-form-field class="col-6 pe-2">
                <mat-icon matPrefix>account_circle</mat-icon>
                <mat-label>First name</mat-label>
                <input type="text" matInput placeholder="John" formControlName="firstName" name="firstName">
              </mat-form-field>
              <mat-form-field class="col-6 ps-2">
                <mat-icon matPrefix>account_circle</mat-icon>
                <mat-label>Last name</mat-label>
                <input type="text" matInput placeholder="Doe" formControlName="lastName" name="lastName">
              </mat-form-field>
            </div>
            <mat-form-field class="mb-2">
              <mat-icon matPrefix>phone</mat-icon>
              <mat-label>Phone number</mat-label>
              <input type="tel" matInput placeholder="+381645023454" formControlName="phoneNumber" name="phoneNumber">
              <mat-error *ngIf="registrationForm.controls.phoneNumber.hasError('pattern')">
                Not a valid phone number
              </mat-error>
            </mat-form-field>

            <mat-form-field class="mb-2">
              <mat-icon matPrefix>home</mat-icon>
              <mat-label>Address</mat-label>
              <input type="address" matInput placeholder="10 Downing Street" formControlName="address" name="address">
            </mat-form-field>
            <mat-form-field class="mb-2">
              <mat-icon matPrefix>fingerprint</mat-icon>
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Enter your password" formControlName="password"
                     name="password">
              <mat-error *ngIf="registrationForm.controls.password.hasError('minLength')">
                Password must be at least 6 characters long
              </mat-error>
              <mat-error *ngIf="registrationForm.controls.password.hasError('maxLength')">
                Password can not be longer than 20 characters
              </mat-error>
              <mat-error *ngIf="registrationForm.controls.password.hasError('whitespace')">
                Password can not contain whitespace characters
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mb-2">
              <mat-icon matPrefix>fingerprint</mat-icon>
              <mat-label>Confirm password</mat-label>
              <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword"
                     name="confirmPassword">
              <mat-error *ngIf="registrationForm.controls.confirmPassword.hasError('passwordsNotMatching')">
                Passwords are not matching
              </mat-error>
            </mat-form-field>
          </div>
          <p class="errorMessage" *ngIf="this.errorMessage != ''">{{errorMessage}}</p>
          <div mat-dialog-actions class="d-flex justify-content-center">
            <button [disabled]="!registrationForm.valid" class="w-50" type="submit" mat-flat-button
                    color="accent">Sign Up</button>
          </div>
        </form>

        <div *ngIf="unregistered" class=" d-flex justify-content-center">
          <p>Already have an account?&nbsp;</p>
          <a (click)="navigateToLogin()" class="font-weight-bold text-decoration-none clickable">Sign in</a>
        </div>
      </div>
    </div>
    <div *ngIf="isFinished && unregistered">
      <h2>Registration has been successful. Your activation link is sent to your email.</h2>
      <p>Proceed to <a class="text-decoration-none clickable" href="https://gmail.com">mail</a>.</p>
      <img src="assets/img/car_drawing.png">
    </div>
</div>
