
<mat-card class="w-100 px-2 py-2" style="border-radius:25px; background-color: #26272b">
  <div class="w-100 d-inline-flex">
    <div id="path-conatiner">
      <div class="row h-50">
        <div class="d-flex h-100 justify-content-start align-items-center py-2 ">
          <mat-icon aria-hidden="false">location_on</mat-icon>
          <p class="m-0 p-1">Bulevar Oslobodjenja 30</p>
        </div>
      </div>
      <div class="row h-50">
        <div class="d-flex h-100 justify-content-start align-items-center ">
          <mat-icon aria-hidden="false">location_on</mat-icon>
          <p class="m-0 p-1">Majke Jevrosime 112</p>
        </div>
      </div>
    </div>
    <div class="delimiter"></div>
    <div id="time-container">
      <div class="row h-50">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <mat-icon aria-hidden="false" >schedule</mat-icon>
          <p class="m-0 p-1">17.15</p>
        </div>
      </div>
      <div class="row h-50">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <mat-icon aria-hidden="false">schedule</mat-icon>
          <p class="m-0 p-1">17.26</p>
        </div>
      </div>
    </div>
    <div class="delimiter"></div>
    <div id="distance-container" >
      <div class="d-flex h-100 justify-content-center align-items-center ">
        <mat-icon aria-hidden="false">route</mat-icon>
        <p class="m-0 mx-1">4km</p>
      </div>
    </div>
    <div class="delimiter"></div>
    <div id="price-container"  >
      <div class="d-flex h-100 justify-content-center align-items-center ">
        <p class="m-0 px-2">$15.60</p>
      </div>
    </div>
  </div>

</mat-card>

