.delimiter{
  padding: 0px;
  width: 2px;
  height: inherit;
  background: #FAD02C;
  border-radius: 2px;
}
#path-conatiner{
  width: 50%;
  font-size: 1.2em;
}
#distance-container{
  width:20%;
  font-size: 1.2em;
}
#time-container,#price-container{
  font-size: 1.2em;
  width: 15%;
}
#price-container p{
  font-weight:bold;
  color: #FAD02C;
  font-size: 1.4em;
}

