<div class="w-100 h-100 text-center mx-auto overflow-hidden p-2">
  <div class="row">
    <h2>Welcome!</h2>
  </div>
  <div class="row">
  <p>Thank you for registring with YuGo. Your account has been created</p>
  </div>
  <div class="row">
  <p>Please click on sign in to get started!</p>
  </div>
  <div class="car-div">
    <div class="car">

    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center mb-3">
    <button class="w-50" type="submit" mat-flat-button color="accent" (click)="navigateToLogin()">Sign In</button>
  </div>

</div>
